form {
  width: 90%;
  max-width: 300px;
  background-color: #1C1C1C;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #0DFF96;
  margin-bottom: 26px;
}

textarea {
  background-color: #000000;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
  color: #bababa;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
}

textarea::placeholder {
  color: #f0eeee;
  font-family: montserrat;
  font-weight: 400;
}

textarea:focus {
  outline-color: #00c953;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  font-weight: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: monospace;
}

.TodoForm-button--add {
  background: #00c953;
  box-shadow: 0 0px 25px #40bd5f;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: box-shadow;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.TodoForm-button--add:hover {
  box-shadow: 0 0 5px rgb(14, 241, 64),
              0 0 25px rgb(14, 241, 64),
              0 0 50px rgb(14, 241, 64),
              0 0 100px rgb(14, 241, 64);
}

.TodoForm-button--cancel {
  border-radius: 5px;
}

.TodoForm-button--cancel:hover {
  color: white;
  background: red;
}

