body {
  margin: 0;
  padding: 0;
  background: #1C1C1C;
  color: #f2f4f5;
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

#root {
  margin: 0 auto; /* Centrar el contenido */
  max-width: 1200px; /* Ancho máximo del contenido */
  padding: 0 24px; /* Agregar un espacio en los bordes */
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}