#title {
  font-family: serif;
  font-style: normal;
  font-size: 56px;
  line-height: 60px;
  font-weight: bold;
  /* color: #00e15e; */
  color: #00FF00;
  /* box-shadow: 0px 0px 25px rgba(13, 249, 5 ); */
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 7px 14px #0DFD95;
}

.TodoCounter {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: 100;
  /* color: #00ca52; */
  color: #0DFD95;
}
.TodoCounter span {
  font-weight: 700;
  color: #05F919;
}

/* #title:hover {
  box-shadow: 0 0 5px rgb(14, 241, 64),
  0 0 20px rgb(14, 241, 64),
  0 0 25px rgb(14, 241, 64),
  0 0 50px rgb(14, 241, 64);
} */

.textCounter {
  color: #00FF00;
}