.TodoSearch {
  background: #000000;
  border-radius: 2px;
  border: 2px solid #202329;
  height: 64px;
  width: calc(95% - 5px);
  /* width: 95%; */
  font-size: 24px;
  text-align: center;
  font-family: montserrat;
  font-weight: 400;
  color: #f0eeee;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
  margin: 0 auto; /* Centra el elemento */
  max-width: 1200px; /* Establece un ancho máximo */
  padding: 0 24px; /* Agrega espacio en los bordes */
}

.TodoSearch::placeholder {
  color: #a5a5a5;
  font-family: montserrat;
  font-weight: 400;
}
.TodoSearch:focus {
  outline-color: #0DFF96;
}


@media (max-width: 900px) {
  .TodoSearch {
    width: 93%;
    font-size: 20px;
  }
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .TodoSearch {
    width: 90%;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .TodoSearch {
    width: 88%;
  }
}
/* Media Query para pantallas muy pequeñas */
@media (max-width: 480px) {
  .TodoSearch {
    width: calc(85% - 2px);
    /* max-width: 360px; */
    font-size: 18px;
  }
}